html {
    scroll-behavior: smooth;
}

body {
    
    margin: .5rem;
    background-color: white;
    
    font-weight: 500;
}   

header {
    background-color: rgb(0, 113, 128);
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
nav {
    max-width: 700px;
    margin: 1rem auto;
    color: #ffffff;

}
.navigation a {
    color:#ffffff
}
.navigation {
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style: none;
	background-color: #333;
	
    
    padding: 2rem 0;
}
#menu {
    display: none;
    
}
main {
    height: 100%;
    font-family: "Winky Sans", sans-serif;
    font-weight: 500;
    margin: .5rem ;
}


.temperature-sections {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: url('images/iguana-larger-view.webp') no-repeat center center;
    background-size: cover;
}

.hero img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.city-temperature {
    background: rgba(255, 255, 255, 0.8); 
    margin: 10px; 
    padding: 20px; 
    border-radius: 8px; 
    text-align: center;
    flex: 1; 
}

.temperature-sections {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

@media (max-width: 768px) {
    .temperature-sections {
        flex-direction: column; 
    }
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 1rem;
    background-color: #e4d9d9;
    padding: 2rem;
  
    border: 0.0001em solid #b6afaf;
    margin: 3rem;
}

.location,
.price,
.capacity {
    margin-bottom: .5rem;
    font-size: 1.5rem;
    
    
}

img {
    max-width: 100%; 
    height: auto; 
    
    
    
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


h3 {
    margin: 1rem;
    padding: 0;
    text-align: left;
    font-size: 3rem;
}

.my-button {
    background-color: #4CAF50;
    color: white;
    border: none; 
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s;
}
.my-button:hover {
    background-color: #f10000; 
}

footer{
    margin: 10px 0;
    background-color: rgb(0, 113, 128);
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}