h4 {
    text-align: center;
    font-size: 1.5rem;
}
legend {
    color: rgb(39, 104, 179);
    padding: 0 .5rem;
    font-size: 2rem;
}
label {
    display:block;
    padding: .3rem;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}
#creditCard {
    display: grid;
    grid-template-columns: 1fr;
}
input[type="date"],
select,
input[type="email"],
input[type="tel"],
input[type="month"],
input[type="text"]{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}
input[type="checkbox"] {
    margin-right: 6px;
    transform: scale(1.8);
    margin: 10px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none; 
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #f10000; 
}
input:required {
    border-bottom: solid 8px rgb(204, 8, 8);
}
input:required:valid {
    border-bottom: solid 8px rgb(2, 104, 10);
}

#close-button {
    background-color: transparent;
    color: #9b0000; 
    border: none; 
    font-size: 24px; 
    cursor: pointer; 
    position: relative; 
     
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    
    transition: background-color 0.3s, color 0.3s; 
}

#close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #ff0000; 
}