html {
    scroll-behavior: smooth;
}
.teveo {
    display: block;
    text-align: center;
}
.confirmation {
    background-color: rgb(0, 113, 128); /* Footer background color */
    color: white; /* Footer text color */
    text-align: center; /* Center text in the footer */
    padding: 10px 0; /* Padding for the footer */
    position: absolute; /* Position the footer absolutely */
    bottom: 1rem; /* Align it to the bottom */
    left: 1rem; /* Align it to the left */
    right: 1rem;
}
body {
    margin: 0.5rem;
    background-color: white;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

header, footer {
    background-color: rgb(0, 113, 128);
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

h1, h2, h3 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

nav {
    max-width: 700px;
    margin: 1rem auto;
    color: #ffffff;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: #333;
    padding: 2rem 0;
}

.navigation a {
    color: #ffffff;
   
}
#menu {
    display: none;
    
}
main {
    height: 100%;
    font-family: "Winky Sans", sans-serif;
    font-weight: 500;
    margin: 0.5rem;
}

.temperature-section {
    position: relative;
    padding: 1rem;
    height: 100vh;
    background-size: cover;
    margin: 1rem;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.city-temperature {
    background: rgba(255, 255, 255, 0.8);
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: grid;
    grid-template-columns: 11fr 15fr;
}

.temperature {
    font-size: 2rem;
    color: #110808;
}
.invitation1 {
    color: #000000;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    
}
.invitation2 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    
}
.invitation3 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    
}




section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #e4d9d9;
    border: 0.0001em solid #b6afaf;
    margin: 3rem;
}

.location, .price, .capacity {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.album-container {
    width: 500px;
    height: 500px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.album-container img {
    position: absolute;
    transition: all 0.3s ease;
    border-radius: 10px;
    object-fit: cover;
    width: 80%;
    height: 80%;
}

.album-main {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}
.album-prev {
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 1;
    opacity: 0.6;
}
.album-next {
    right: 20%;
    top: 50%;
    transform: translate(50%, -50%) scale(0.8);
    z-index: 1;
    opacity: 0.6;
}
.album-left-btn, .album-right-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 3;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.album-left-btn:hover, .album-right-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.album-left-btn {
  left: 5px;
}
.album-right-btn {
  right: 5px;
}
@keyframes pressLeft {
    from { transform: translate(-50%, -50%); }
    to { transform: translate(-250%, -50%); }
}

@keyframes pressRight {
    from { transform: translate(-50%, -50%); }
    to { transform: translate(150%, -50%); }
}
  
.pressed-left {
    animation: pressLeft 0.4s ease;
}

.pressed-right {
    animation: pressRight 0.4s ease;
}
img {
    max-width: 100%; 
    height: auto; 
    box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.3);
    animation: fade 1s;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.my-button {
    background-color: #4CAF50;
    color: white;
    border: none; 
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s;
}
.my-button:hover {
    background-color: #f10000; 
}
.contact-info {
    margin-bottom: 0px;

}
.contact-info p {
    margin: 1px 0;
    padding: 1rem;
    font-size: 1.5rem;
}
.contact-form {
    margin-top: 20px;
}
    
.contact-form textarea,
input[type="email"],
input[type="tel"],
input[type="month"],
input[type="text"]{
    background-color: #eee;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 95%;
    margin: .5rem;
    appearance: none;
    }

input[type="checkbox"] {
    
    transform: scale(1.8);
    margin: 10px;
    
}
.cortesy{
    margin-bottom: 1rem;
    border: none;
    width: 100%;
    
}

.contact-form button {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.contact-form button:hover {
    background: #45a049;
}
hr {
    border: none;
}
.map {
    margin-top: 20px;
    width: auto;
    height: 400px;
    border: 0;
}
