body {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    height: 100vh; 
    margin: 0;
}

header {
    color: white;
    background-color: #52d0e0; 
}

nav {
    background-color: rgb(10, 133, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    align-items: center;
}

header nav ul li {
    display: inline-block;
    margin: 0px 135px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 300px; 
}

.main-content {
    background: lightgray;
    padding: 20px;
}

aside {
    background: white;
    padding: 20px;
}

footer {
    background-color: #52d0e0;
    color: white;
    padding: 50px;
    text-align: center;
    margin-top: auto;
}