@media(max-width: 500px) {
    .hero img {
        width: 100%; /* Make the image responsive */
        height: auto; /* Maintain aspect ratio */
    }

    .data, .weather {
        width: 90%; /* Make sections take up most of the width */
        margin: 10px auto; /* Center the sections with margin */
    }
}