@media(max-width: 500px) {
    
    
    .data, .weather {
        position: relative; 
        width: 90%; 
        margin: 10px auto; 
    }

    .data {
        top: auto; 
        left: auto; 
    }

    .weather {
        bottom: auto;
        right: auto; 
    }

    .footer {
        position: relative;
        margin-top: 20px; 
    }
}