@media(min-width: 40em) {
    #menu {
		display: none;
	}
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .item img {
        width: 100%;
    }

    .navigation {
		flex-direction: row;
	}
	
	.navigation a {
        display: block;
		flex: 1 1 100%;
	}
	
}